<div class="site-content not-found">
  <div class="container text-center">
    <div class="space-xxlg"></div>
    <h2><%- page.title %></h2>
    <p><%- page.description %></p>
    <div class="space-sm"></div>
    <div class="space-xxlg"></div>
  </div>
</div>
