@font-face{
  font-family: "NotoSans";
  unicode-range: U+00-024F;
  src: url("../fonts/NotoSans/NotoSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: "NotoSans";
  unicode-range: U+00-024F;
  src: url("../fonts/NotoSans/NotoSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face{
  font-family: "NotoSans";
  unicode-range: U+00-024F;
  src: url("../fonts/NotoSans/NotoSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face{
  font-family: "NotoSans";
  unicode-range: U+00-024F;
  src: url("../fonts/NotoSans/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
